{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-lg-6">
    <div class="login">
        <div class="login-screen"  style="background-color: #000814;">
            <div class="app-title">
                <h1 class="" style="color: black;">Select Food</h1>
            </div>

            <form method="POST" action="" class="login-form form-inline">
              {% csrf_token %}
              
                {% for field in form %}
                <h5 class="form-labels"  style="color: black;">
                {{ field.label }}
                </h5>
                {{ field }}
                 
                {% endfor %}
           
                <input class="btn mt-2" style="background-color: #fca311" type="submit" value="select">

            </form>
           
        </div>
        
    </div>
    </div>
    <div class="col-lg-6 ">
    <div class="login">
        <div class="login-screen"  style="background-color: #000814;">
              <form method="get">
                  <h1 class="" style="color: black;">{{ myFilter.form }}</h1>
                  <button class="btn mt-2" style="background-color: #fca311" type="submit">Search</button>
              </form> 
        </div>
    </div>

        <h1 class="" style="color: black;"> All Food Items </h1>
        <table class="table table-bordered text-center mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Food Name</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_items %}
                <tr>
                    <td style="font-weight: 700; color: black;">{{ food.name }}</td>
                    <td style="font-weight: 700; color: black;">{{ food.calorie }}</td>
                    <td style="font-weight: 700; color: black;">{{ food.quantity }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>
</div>
</div>
{% endblock content %}